#trajects {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 60% !important;
    font-size: 60%;
    margin-left: auto;
    margin-right: auto;
}

#trajects td, #trajects th {
    border: 1px solid #ddd;
    padding: 8px;
}

#trajects tr:nth-child(even){background-color: #f2f2f2;}

#trajects tr:hover {background-color: #ddd;}

#trajects th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}