<p>
  trajectsearch works!
</p>

<table id="trajects">
	<tbody>
		<tr>
			<th>Départ</th>
			<th>Arrivée</th>
			<th>HeureDépart</th>
			<th>HeureArrivée</th>
			<th>prix</th>
			<th>places</th>
			<th>lien</th>
			<th>Participer</th>
		</tr>
	</tbody>
	<tbody *ngFor="let traject of trajects">
		<tr>
			<td>{{traject.start_city}}</td>
			<td>{{traject.dest_city}}</td>
			<td>{{traject.meet_date | date:shortTime}}</td>
			<td>{{traject.deposit_date | date:shortTime}}</td>
			<td>{{traject.price}}</td>
			<td>{{traject.place_nb}}</td>
			<td> <a [routerLink]="['/traject',traject._id]"> Details </a> </td>
			<input type="checkbox" id="a">
		</tr>
	</tbody>
</table>

