input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=password], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
button[type=submit] {
    background-color: blue;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}

.c1 {
    margin: 20px;
    margin-right: 50px;
    display: block;
    float:left;
    width:20%;
    height:100%;
    margin-left: 200px;
}

.c2 {

    margin: 20px;
    float:left;
    width:20%;
    height:100%;
    margin-right: 200px;

}

.c3 {

    margin-right: 50px;
    margin: 20px;
    float:left;
    width:20%;
    height:100%;

}

.container {
    display:block;
    border-radius: 5px;
    padding: 20px;
    width: 90%;
    height: 800px;
    margin-top : 20px;
    margin-left: 20%;
    margin-left: auto;
    margin-right: auto;
} 

h2 {  
    color: light-green;
    font-family: cursive;
    font-size: 150%;
}

p {  
    color: blue;
    font-family: cursive;
    font-size: 50%;
}
