<body>
<h2>Formulaire d'inscription</h2>	

	<div class="container">
	
		<form *ngIf="!isLoggedIn" (ngSubmit)="onSubmit()" #loginForm="ngForm">
			<div class="c1">
	    			<div class="form-gr">
					<label for="firstname"> <p>Firstname *</p> </label>
					<input type="text" class="form-control" id="login" required placeholder="Florian" [(ngModel)]="firstname" name="firstname" />
	    			</div>
	   			<div class="form-gro">
					<label for="lastname"> <p>Lastname *</p> </label>
					<input type="text" class="form-control" id="login" required placeholder="Pascual" [(ngModel)]="lastname" name="lastname" />
	    			</div>
				<div class="form-grou">
					<label for="login"> <p>Mail *</p> </label>
					<input type="email" class="form-control" id="login" required placeholder="truc@machin.com" [(ngModel)]="mail" name="login" />
				</div>
				<br>
				<div class="form-grou">
					<label for="street_number"> <p>Street number</p> </label>
					<input type="number" class="form-control" id="street_number" required placeholder="truc@machin.com" [(ngModel)]="street_number" name="street_number" />
				</div>
			</div>
			<div class="c3">

				<div class="form-grou">

					<label for="street"> <p>Street</p> </label>
					<input type="text" class="form-control" id="street" required placeholder="rue jacques brel" [(ngModel)]="street" name="street" />
					<label for="login"> <p>City *</p> </label>
					<input type="text" class="form-control" id="login" required placeholder="Turin" [(ngModel)]="city" name="login" />

					<label for="state"> <p>State *</p> </label>
					<input type="text" class="form-control" id="state" required placeholder="France" [(ngModel)]="state" name="state" />

					<label for="place_name"> <p>Place name</p> </label>
					<input type="text" class="form-control" id="place_name" placeholder="Residence Les colibris" [(ngModel)]="place_name" name="place_name" />
				</div>
			</div>
			<div class="c2">
				<div class="form-grou">
					<label for="birth_date"> <p>BirthDate *</p> </label>
					<input type="text" class="form-control" id="birth_date" required placeholder="YYYY-MM-DD" [(ngModel)]="birth_date" name="birth_date" />
				</div>
				<div class="form-grou">
					<label for="phone_nb"> <p>PhoneNumber *</p> </label>
					<input type="text" class="form-control" id="phone_nb" required placeholder="xxxxxxxxxx" [(ngModel)]="phone_nb" name="phone_nb" />
				</div>
				<div>
					<label for="password"> <p>Password *</p> </label>
					<input type="password" class="form-control" id="password" required placeholder="password" [(ngModel)]="password" name="password" />
				</div>
				<label for="passwordconfirmation"> <p>Password Confirmation *</p> </label>
				<input type="password" class="form-cotrol" id="password" required placeholder="password" [(ngModel)]="password_confirmation" name="passwordconfirmation" />
			</div>
			<button type="submit"> Submit </button>
		</form>
	</div>

<p>
  {{msg}}
</p>

<div *ngIf="isLoggedIn">
	<br/> Congratulations {{login}}. 
	<br> Your Account has been created! <br/>
	<button (click)="window.location.href='/login'"> Log in </button>
</div>
</body>
