cover {

background: url('http://www.autodatz.com/wp-content/uploads/2017/05/Cars-Wallpapers-Hd-1080p-Download-96-with-Cars-Wallpapers-Hd-1080p-Download.jpg') no-repeat center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;

}

.Powered {

position: fixed;
float: right;
bottom: 5px;
right: 5px;
font-family: cursive;
font-size: 70%;

}
