<body>
<h2>Mon Compte</h2>	
<p> {{user.address.city}} </p>

	<div class="container">
	
		<form *ngIf="!isLoggedIn" (ngSubmit)="onSubmit()" #loginForm="ngForm">
			<div class="c1">
				<h5> MODIFIER MES INFORMATIONS </h5>
				<div class="form-grou">

					<label for="street_number"> <p>Street number</p> </label>
					<input type="text" class="form-control" id="street_number" required value={{user.address.street_number}} [(ngModel)]="user.address.street_number"  name="street_number" />

					<label for="street"> <p>Street Name</p> </label>
					<input type="text" class="form-control" id="street" required value={{user.address.street}} [(ngModel)]="user.address.street" name="street" />

					<label for="login"> <p>City *</p> </label>
					<input type="text" class="form-control" id="login" required value={{user.address.city}} [(ngModel)]="user.address.city" name="login" />

					<label for="state"> <p>State *</p> </label>
					<input type="text" class="form-control" id="state" required value={{user.address.state}} [(ngModel)]="user.address.state" name="state" />

					<label for="phone_nb"> <p>PhoneNumber *</p> </label>
					<input type="text" class="form-control" id="phone_nb" required value={{user.phone_nb}}  [(ngModel)]="user.phone_nb" name="phone_nb" />

				</div>
							<button type="submit"> Submit </button>
			</div>


		</form>
					<div class="c2">

		<form *ngIf="!isLoggedIn" (ngSubmit)="onSubmit()" #loginForm="ngForm">
				<div class="but"><label for="street_number"> <p>Ma Voiture</p> </label>
					<input type="text" class="form-control" id="street_number" required value={{user.address.street_number}} [(ngModel)]="user.address.street_number"  name="street_number" /></div>
		</form>
				<a href='CreateCar'><button class="butt"> Devenir Conducteur </button></a>
			</div>
	</div>

<p>
  {{msg}}
</p>

</body>
