ul {
    
    display:block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
    width: 90%;
    overflow: hidden;
    background-color: white;
}

li {
    float: left;
    list-style-type: none;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    margin: 5px;
    margin-bottom: 30px;
    border-radius: 4px;
    text-decoration: none;
    background-color: gray;
    font-family: cursive;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: gray;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    font-family: cursive;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: black;}

.dropdown:hover .dropdown-content {
    display: block;
}


