<h2>Se Connecter</h2>

<div class="container">
<form *ngIf="!isLoggedIn" (ngSubmit)="onSubmit()" #loginForm="ngForm">
	<div class="form-group">
		<label for="login"><p> Login </p></label>
		<input type="text" class="form-control" id="login" required placeholder="email" [(ngModel)]="login" name="login" />
	</div>
	<div>
		<label for="password"><p> Password </p></label>
		<input type="password" class="form-control" id="password" required placeholder="password" [(ngModel)]="password" name="password" />
	</div>
	<button type="submit"> Submit </button>
</form>
</div>

<p> {{msg}} </p>

<div *ngIf="isLoggedIn">
	<br/> {{login}} is Logged <br/>
	<button (click)="_logout()"> Logout </button>
</div>
