<div class="bandeau">Trajet proposé par {{traject.author_id}} <br>★★★★☆</div>
<div class="container">
	<div class="c1">
		<h5>{{traject.meet_address.city}}</h5>
		<div class="datetime">{{traject.deposit_date | date:shortTime}}</div>
	</div>
	<div class="c2">
		<img height="150px" src="http://www.icone-png.com/png/10/10450.png">
		<div class="enorme">➔</div>
		<h5>{{traject.price}}€</h5>
		<br>
		<p>{{traject.place_nb}} places disponible</p>
		<button> Participer à ce trajet. </button>
	</div>
	<div class="c3">
		<h5>{{traject.deposit_address.city}}</h5>
		<div class="datetime">{{traject.meet_date | date:shortTime}}</div>
	</div>
	
</div>