input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=password], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
button[type=submit] {
    background-color: blue;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button {
    background-color: blue;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}

.enorme {

font-size: 200%;

}

.datetime {

    padding-top: 100px;
    font-size: 60%;

}

.bandeau {

    width: 95%;
    height: 55px;
    padding-top: 20px;
    border: 1px black solid;
    background-color: rgba(0,0,255,0.2);
        font-family: cursive;
    font-size: 70%;
            margin-left: auto;
    margin-right: auto;
}

.c1 {
    margin: 20px;
    margin-left: 20%;
    display: block;
    float:left;
    width:32%;
    height:100%;
    margin-left: 200px;
        margin-left: auto;
    margin-right: auto;
}

.c2 {


    margin: 20px;
    float:left;
    width:32%;
    height:100%;
    margin-right: 200px;
        margin-left: auto;
    margin-right: auto;

}

.c3 {

    margin-right: 20%;
    margin: 20px;
    float:left;
    width:32%;
    height:100%;
        margin-left: auto;
    margin-right: auto;

}

.container {
    display:block;
    width: 95%;
    height: 600px;
    margin-left: 20%;
    margin-left: auto;
    margin-right: auto;
    border: 1px black solid;
    background-color: rgba(0,0,255,0.1);
} 

h2 {  
    color: light-green;
    font-family: cursive;
    font-size: 150%;
}

h5 {  
    font-family: cursive;
    font-size: 90%;
}

p {  
    color: blue;
    font-family: cursive;
    font-size: 50%;
}
