<h2>Créer un trajet</h2>	

<div *ngIf="is_logged; else not_logged">
	<div class="container">
	
		<form ngNativeValidate *ngIf="!truc" (ngSubmit)="onSubmit()" #trajectForm="ngForm">

			
			<div class="c3">
				<h5> DÉPART </h5>
	    		<div class="form-grou">
					<label for="start_city"> <p>Destination de départ *</p> </label>
					<input type="text" class="form-control" id="start_city" required placeholder="Montpellier" [(ngModel)]="start_city" name="start_city" />
	    		</div>

	    		<div class="form-grou">
					<label for="start_state"> <p>Pays  *</p> </label>
					<input type="text" class="form-control" id="start_state" required placeholder="France" 
					[(ngModel)]="start_state" name="start_state" />
	    		</div>

	    		<div class="form-grou">
					<label for="start_street_number"> <p>Numero de rue *</p> </label>
					<input type="number" class="form-control" id="start_city" required placeholder="Montpellier" [(ngModel)]="start_street_number" name="start_street_number" />
	    		</div>

	    		<div class="form-grou">
					<label for="start_street"> <p>rue *</p> </label>
					<input type="text" class="form-control" id="start_city" required placeholder="rue des Bretons" [(ngModel)]="start_street" name="start_street" />
	    		</div>

	    		<div class="form-grou">
					<label for="start_place_name"> <p> Lieu dit </p> </label>
					<input type="text" class="form-control" id="start_place_name"  placeholder="Mc Do odysseum" [(ngModel)]="start_place_name" name="start_place_name" />
	    		</div>

	    		<div class="form-grou">
					<label for="start_date"> <p> Jour de rendez vous *</p> </label>
					<input type="date"  class="form-control" id="start_date" required  [(ngModel)]="start_date" name="start_date" />
	    		</div>

	    		<div class="form-grou">
					<label for="start_time"> <p> Heure de rendez vous *</p> </label>
					<input type="time" class="form-control" id="start_time"  [(ngModel)]="start_time" name="start_time" />
	    		</div>
			</div>



			<div class="c2">
					<h5> ARRIVÉ </h5>
	    		<div class="form-grou">
					<label for="dest_city"> <p>Destination d'arrivée *</p> </label>
					<input type="text" class="form-control" id="dest_city" required placeholder="Montpellier" [(ngModel)]="dest_city" name="dest_city" />
	    		</div>

	    		<div class="form-grou">
					<label for="dest_state"> <p>Pays  *</p> </label>
					<input type="text" class="form-control" id="dest_state" required placeholder="France" 
					[(ngModel)]="dest_state" name="dest_state" />
	    		</div>

	    		<div class="form-grou">
					<label for="dest_street_number"> <p>Numero de rue *</p> </label>
					<input type="number" class="form-control" id="dest_city" required placeholder="Montpellier" [(ngModel)]="dest_street_number" name="dest_street_number" />
	    		</div>

	    		<div class="form-grou">
					<label for="dest_street"> <p>rue *</p> </label>
					<input type="text" class="form-control" id="dest_city" required placeholder="rue des Bretons" [(ngModel)]="dest_street" name="dest_street" />
	    		</div>

	    		<div class="form-grou">
					<label for="dest_place_name"> <p> Lieu dit </p> </label>
					<input type="text" class="form-control" id="dest_place_name" placeholder="Mc Do odysseum" [(ngModel)]="dest_place_name" name="dest_place_name" />
	    		</div>

	    		<div class="form-grou">
					<label for="dest_date"> <p> Jour de rendez vous *</p> </label>
					<input type="date" class="form-control" id="dest_date" required placeholder="2018-06-19" [(ngModel)]="dest_date" name="dest_date" />
	    		</div>

	    		<div class="form-grou">
					<label for="dest_time"> <p> Heure de rendez vous *</p> </label>
					<input type="time" class="form-control" id="dest_time" [(ngModel)]="dest_time" name="dest_time" />
	    		</div>
			</div>


			<div class="c1">
				<h5> FINALISATION </h5>
	    		<div class="form-grou">
					<label for="price"> <p>Prix(€) *</p> </label>
					<input type="number" class="form-control" id="price" required placeholder="12" [(ngModel)]="price" name="price" />
	    		</div>

	    		<div class="form-grou">
					<label for="description"> <p>Description </p> </label>
					<input type="text" class="form-control" id="description" placeholder="J'adore ecouter Johnny halliday et celine dion à fond" [(ngModel)]="description" name="description" />
	    		</div>

	    		<div class="form-grou">
					<label for="place_nb"> <p>Nombre de place *</p> </label>
					<input type="number" class="form-control" id="place_nb" required placeholder="4" [(ngModel)]="place_nb" name="place_nb" />
	    		</div>

	    		<button type="submit"> Submit </button>
	    	</div>

			
		</form>
	</div>

</div>


<ng-template #not_logged>
	<p>
		You have to login
	</p>
</ng-template>